img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.personaje-data {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 2rem;
  padding: 0.5rem;
  align-items: center;
}

.title {
  font-weight: bold;
}

button {
  padding: 0.5rem 2rem;
  margin-top: 2rem;
}